[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "QuincyKit"]
	path = QuincyKit
	url = git://github.com/TheRealKerni/QuincyKit.git
[submodule "ShareKit"]
	path = ShareKit
	url = git://github.com/ritzmo/ShareKit.git
[submodule "TouchXML"]
	path = TouchXML
	url = git://github.com/ritzmo/TouchXML.git
[submodule "MKStoreKit"]
	path = MKStoreKit
	url = git://github.com/ritzmo/MKStoreKit.git
