[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/ritzmo/MBProgressHUD.git
[submodule "QuincyKit"]
	path = QuincyKit
	url = git://github.com/TheRealKerni/QuincyKit.git
[submodule "ShareKit"]
	path = ShareKit
	url = git://github.com/ritzmo/ShareKit.git
[submodule "NSObject-Invoke-Queue"]
	path = NSObject-Invoke-Queue
	url = git://github.com/lunar-theory/NSObject-Invoke-Queue.git
[submodule "SSKTk"]
	path = SSKTk
	url = git://github.com/ritzmo/SSKTk.git
[submodule "MGSplitViewController"]
	path = MGSplitViewController
	url = git://github.com/ritzmo/MGSplitViewController.git
